/* Rose Pine theme from https://rosepinetheme.com/palette/ingredients/ */
:root {
  --rp-base:            #191724;
  --rp-text:            #e0def4;
  --rp-surface:         #1f1d2e;
  --rp-overlay:         #26233a;
  --rp-muted:           #6e6a86;
  --rp-subtle:          #908caa;
  --rp-love:            #eb6f92;
  --rp-gold:            #f6c177;
  --rp-rose:            #ebbcba;
  --rp-pine:            #31748f;
  --rp-foam:            #9ccfd8;
  --rp-iris:            #c4a7e7;
  --rp-highlight-low:   #21202e;
  --rp-highlight-med:   #403d52;
  --rp-highlight-high:  #524f67;
}

/* Catppuccin theme from https://catppuccin.com/palette/ */
:root {
  --ct-rosewater: #f5e0dc;
  --ct-flamingo: #f2cdcd;
  --ct-pink: #f5c2e7;
  --ct-mauve: #cba6f7;
  --ct-red: #f38ba8;
  --ct-maroon: #eba0ac;
  --ct-peach: #fab387;
  --ct-yellow: #f9e2af;
  --ct-green: #a6e3a1;
  --ct-teal: #94e2d5;
  --ct-sky: #89dceb;
  --ct-sapphire: #74c7ec;
  --ct-blue: #89b4fa;
  --ct-lavender: #b4befe;
  --ct-text: #cdd6f4;
  --ct-subtext_1: #bac2de;
  --ct-subtext_0: #a6adc8;
  --ct-overlay_2: #9399b2;
  --ct-overlay_1: #7f849c;
  --ct-overlay_0: #6c7086;
  --ct-surface_2: #585b70;
  --ct-surface_1: #45475a;
  --ct-surface_0: #313244;
  --ct-base: #1e1e2e;
  --ct-mantle: #181825;
  --ct-crust: #11111b;
}

/* Bookies color palette made from Rose Pine */
:root {
  /* I prefer the DARKEST of dark tho. */
  --bks-background: #000000 ;
  --bks-text: var(--rp-text);

  --bks-big-text: "Varela Round", sans-serif;
  --bks-regular-text: "Noto Sans", sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: var(--bks-background);
  color: var(--bks-text);
}
